<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :user_first_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :cell_phone %>
      <%= form.text_field :cell_phone, id: :user_cell_phone, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :alteration_user_id %>
      <%= form.number_field :alteration_user_id, id: :user_alteration_user_id, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :address %>
      <%= form.text_field :address, id: :user_address, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :password %>
      <%= form.text_field :password, id: :user_password, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10">
      <%= form.label :receive_email %>
      <%= form.check_box :receive_email, id: :user_receive_email, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
